body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%)
}

header{
    height: 800px;
    width: 100vw;
    
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.234);
}

.darkblue-color{
    background: radial-gradient(circle, rgba(3, 3, 5, 1) 0%, rgba(45, 53, 79, 1) 100%);
    color: #ffffff;
}

.lightblue-color{
    background: radial-gradient(circle, rgb(55, 55, 192) 0%, rgb(128, 194, 242) 100%);
    color: white;
}

header h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    letter-spacing: 10px;
}

header h5{
    color: rgb(189, 189, 189);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header img {
    height: 300px;
    width: 300px;
}

#darkmode-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffffa5;
    border: 1px solid rgba(255, 255, 255, 0.59);
    padding: 5px;
    border-radius: 10px;

    transition: all 1s ease 0s;
}

#darkmode-button:hover{
    color: white;
    border-color: white;
    box-shadow: 1px 1px 20px rgba(152, 152, 152, 0.234);;
}

section h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    letter-spacing: 10px;
    text-align: center;
}

#skills {
    margin-top: 100px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.234);

}

#skills article {
    height: 200px;
    background-color: #4b6bb742;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.234);
}

#skills p{
    display: flex;
    align-items: center;
}

#skills ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
}

#skills h3 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image-box {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;

    height: 100%;
    width: 100%;
}

#web-development{
    background-image: url("assets/images/WebDevelopment.jpg");
}

#languages{
    background-image: url("assets/images/languages.jpeg");
}

#buisness{
    background-image: url("assets/images/buisness.jpg");
}

.education-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-holder {
    height: 100px;
    width: 100px;
    background-color: aqua;

    border-radius: 50%;
    overflow: hidden;
}

.image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#education {
    margin-top: 100px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.234);

}

#education article{
    text-align: center;
}

#education h6, #education p{
    font-weight: 100;
}

#experience {
    margin-top: 100px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.234);

}

#experience-button{
    color: rgba(255, 255, 255, 0.574);
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.415);
    border-radius: 10px;
    background-color:#4b6bb748;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    width: 100%;

    transition: all 1s ease 0s;
}

#experience-button:hover{
    border-color: white;
    color: white;
    background-color:#4b6bb781;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.234);
}

#experience-button:active{
    border-color: white;
    color: white;
    background-color:#4b6bb781;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.234);

}

#experience-container{
    display: none;
}

.project-box-1, .project-box-2 {
    height: 650px;
    background-color: #4b6bb73d;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.234);
}

.project-box-1 h4{
    font-size: 50px;
    padding: 5px;
}

.project-box-1 p, .project-box-1 ul{
    color: #d4d4d4;
}

.project-box-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    margin-top: 100px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.234);
}

footer i {
    color: #4b6bb7;
}

footer div {
    display: flex;
    align-items:start;
    gap: 2%;
}

button {
    background: none;
    padding: 0px;
    border: none;
}

button:active {
    border: none;
}

button:focus{
    border: none;
}


#footer-center-container {
    justify-content: center;
}

#footer-end-container {
    justify-content: end;
}

@media (max-width: 768px){
    header h1 {
        font-size: 68px;
    }

    header h5 {
        font-size: 18px;
    }

    section h2 {
        font-size: 50px;
    }

    #skills p, #skills ul {
        font-size: 13px;
    }

    #skills h3 {
        font-size: 17px;
    }

    #education h5 {
        font-size: 15px;
    }

    #education h6, #education p{
        font-size: 12px;
    }

    .project-box-1, .project-box-2{
        height: 400px;
    }

    .project-box-1 h4{
        font-size: 30px;
    }

    .project-box-1 p, .project-box-1 ul{
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px){
    section h2 {
        font-size: 40px;
    }
    
    header {
        height: 600px;
    }

    header h1 {
        font-size: 48px;
    }

    header img {
        height: 225px;
        width: 225px;
    }

    header h5 {
        font-size: 15px;
    }

    #skills article {
        height: 175px;
    }

    #skills p, #skills ul {
        font-size: 11px;
    }

    #skills h3 {
        font-size: 14px;
    }

    .image-holder{
        height: 75px;
        width: 75px;
    }

    #education h5 {
        font-size: 14px;
    }

    #education h6, #education p{
        font-size: 11px;
    }

    #experience article {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: 12px;
    }
}