body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #222831;
    margin: 0px;
}

.container{
    padding: 30px;
    margin: 5%;
    border-radius: 10px;
}

.title-secondary {
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 50px;
}

.small-title {
    font-size: 30px;
    padding-top: 30px
}

.light-color{
    color: #DFD0B8;
}

.dark-color{
    color: #948979;
}

#header-box1{
    flex-direction: column;
    justify-content: center;
}

#header {
    text-align: center;
    background-color: #393E46;
    display: flex;
    justify-content: space-around;
}

#title-name {
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: 800;
}

#title-cv {
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 400;
}

#header img {
    text-align: center;
}

#links a {
    color: black ;
    font-size: 20px;
}

#links a:hover {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: underline;
}

#links ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 20px;
}

#links{
    background-color: #DFD0B8;
    text-align: center;
    padding: 7px;
    margin-top: 10px;
}

#skills-list {
    display: flex;
    justify-content: space-evenly;
}

#skills{
    background-color: #948979;
}

#skills ol{
    list-style-type: none;
}

#education{
    background-color: #DFD0B8;
    display: flex;
    justify-content: center;
}

#experience {
    background-color:#948979;
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    padding: 30px;
    caption-side: bottom;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 10px;
}

